@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

::selection {
    color: white;
    background: theme('colors.primary.800');
}

.no-scroll-bar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
